*{
    margin: 0%;
    padding: 0%;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('image.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.nav-menu{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-menu li{
    display: inline-block;
}
.nav-menu li a{
    color: turquoise;
    text-decoration: none;
    padding: 5px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.homebtn a{
    border: 1px solid grey;
    background-color: white;
}
.nav-menu li a:hover{
    border: solid 1px gray;
    background-color: white;
}
.tagline{
    position:absolute;
    width: 1200px;
    margin-left: 0%;
    margin-top: 0%;
}
h1{
    color: white;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 275px;
}

.adopt{
    margin-top: 30px;
    margin-left: 540px;
}
.btn{
    border: 1px solid white;
    padding: 10px 30px;
    color:snow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 120%;
    text-decoration: none;
}
.btn:hover{
    background-color: azure;
    color: darkslategrey;
}